(name:"Bugbear",description:"bear, but bug",hit_dice:WithModifier(4,1),base_armor_class:5,base_attack_throw:12,base_damage:Three((amount:1,sides:6,modifier:1,modifier_type:Add,apply_modifier_to_all:false,drop:None,min_value:1),(amount:1,sides:4,modifier:-1,modifier_type:Add,apply_modifier_to_all:false,drop:None,min_value:1),(amount:1,sides:4,modifier:-1,modifier_type:Add,apply_modifier_to_all:false,drop:None,min_value:1)),xp:50,morale:2,categories:[Beastman],alignment:Chaotic,saves:(petrification_paralysis:4,poison_death:6,blast_breath:3,staffs_wands:6,spells:10))