(name:"Rat",description:"literally just a rat",hit_dice:WithModifier(1,-1),base_armor_class:0,base_attack_throw:9,base_damage:Three((amount:1,sides:4,modifier:-1,attack_type:Melee),(amount:1,sides:2,modifier:0,attack_type:Melee),(amount:1,sides:2,modifier:0,attack_type:Melee)),xp:1,morale:0,categories:[Vermin,Animal],alignment:Neutral,saves:(petrification_paralysis:4,poison_death:5,blast_breath:3,staffs_wands:3,spells:2))