(name:"Spider",description:"A huge, venomous spider.",hit_dice:Standard(2),base_armor_class:2,base_attack_throw:11,base_damage:Two((amount:1,sides:4,modifier:0,modifier_type:Add,apply_modifier_to_all:false,drop:None,min_value:1),(amount:1,sides:4,modifier:0,modifier_type:Add,apply_modifier_to_all:false,drop:None,min_value:1)),xp:0,morale:1,categories:[Animal,Vermin],alignment:Neutral,saves:(petrification_paralysis:6,poison_death:7,blast_breath:5,staffs_wands:5,spells:4))