(
    name: "Cleric", 
    description: "#TODO LMAO who actually plays this class.", 
    prime_reqs: [WIS], 
    maximum_level: 14,
    titles: ([
        "Catechist",
        "Acolyte",
        "Priest",
        "Curate",
        "Vicar",
        "Rector",
        "Prelate",
        "Bishop",
        "Patriarch",
        "Patriarch, 10th lvl",
        "Patriarch, 11th lvl",
        "Patriarch, 12th lvl",
        "Patriarch, 13th lvl",
        "Theocrat",
    ]),
    hit_die: D6,
    base_xp_cost: 1500,
    class_proficiencies: {
        "divine_blessing": None,
    },
    saving_throw_progression_type: Cleric,
    attack_throw_progression: OnePerTwo,
    weapon_selection: Narrow((FlailsHammersMaces, BowsCrossbows)),
    armor_selection: Unrestricted,
    fighting_styles: (
        two_weapons: false,
        weapon_and_shield: true,
        two_handed: true,
    ),
    class_damage_bonus: None,
    cleaves: Half,
    thief_skills: ([]),
)