(
    name: "Fighter", 
    description: "#TODO Fighter fighty fight kill.", 
    prime_reqs: [STR], 
    maximum_level: 14,
    titles: ([
        "Man-at-Arms",
        "Warrior",
        "Swordmaster",
        "Hero",
        "Exemplar",
        "Myrmidon",
        "Champion",
        "Epic Hero",
        "Warlord",
        "Warlord, 10th lvl",
        "Warlord, 11th lvl",
        "Warlord, 12th lvl",
        "Warlord, 13th lvl",
        "Overlord",
    ]),
    hit_die: D8,
    base_xp_cost: 2000,
    class_proficiencies: {
        "craft": Some(["Smith", "Armorer"]),
        "fighting_style": None,
    },
    saving_throw_progression_type: Fighter,
    attack_throw_progression: TwoPerThree,
    weapon_selection: Unrestricted,
    armor_selection: Unrestricted,
    fighting_styles: (
        two_weapons: true,
        weapon_and_shield: true,
        two_handed: true,
    ),
    class_damage_bonus: Both,
    cleaves: Full,
    thief_skills: ([]),
)