(
    name: "Mage", 
    description: "#TODO Magic man spells David Blaine yer a wizard.", 
    prime_reqs: [INT], 
    maximum_level: 14,
    titles: ([
        "Arcanist",
        "Seer",
        "Theurgist",
        "Magician",
        "Thaumaturge",
        "Enchanter",
        "Sorcerer",
        "Mage",
        "Wizard",
        "Wizard, 10th lvl",
        "Wizard, 11th lvl",
        "Wizard, 12th lvl",
        "Wizard, 13th lvl",
        "Archmage",
    ]),
    hit_die: D4,
    base_xp_cost: 2500,
    class_proficiencies: {
        "elementalism": None,
    },
    saving_throw_progression_type: Mage,
    attack_throw_progression: OnePerThree,
    weapon_selection: Restricted((Staff, Club, Dagger, Dart)),
    armor_selection: Forbidden,
    fighting_styles: (
        two_weapons: false,
        weapon_and_shield: false,
        two_handed: true,
    ),
    class_damage_bonus: None,
    cleaves: None,
    thief_skills: ([]),
)