(
    name: "Thief", 
    description: "#TODO Sneaky steal stabby stab very trustworthy.", 
    prime_reqs: [DEX], 
    maximum_level: 14,
    titles: ([
        "Footpad",
        "Hood",
        "Robber",
        "Burglar",
        "Rogue",
        "Scoundrel",
        "Pilferer",
        "Thief",
        "Master Thief",
        "Master Thief, 10th lvl",
        "Master Thief, 11th lvl",
        "Master Thief, 12th lvl",
        "Master Thief, 13th lvl",
        "Prince of Thieves",
    ]),
    hit_die: D4,
    base_xp_cost: 1250,
    class_proficiencies: {
        
    },
    saving_throw_progression_type: Thief,
    attack_throw_progression: OnePerTwo,
    weapon_selection: Broad((OneHanded, Missile)),
    armor_selection: Narrow,
    fighting_styles: (
        two_weapons: true,
        weapon_and_shield: false,
        two_handed: false,
    ),
    class_damage_bonus: None,
    cleaves: Half,
    thief_skills: ([
        OpenLocks,
        FindTraps,
        RemoveTraps,
        Backstab,
        MoveSilently,
        HideInShadows,
        PickPockets,
        ClimbWalls,
        HearNoise,
    ]),
)